@tailwind base;
@tailwind components;
@tailwind utilities;

.application {
    margin: 0 auto
}

.account {
    margin: 0 auto;
}

.account-heading {
    font-weight: 600;
}
/*


@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
