<p class="text-xl">Accounts</p>
<div>
  <p>This is the accounts page</p>
</div>
<div>
  <%= @accounts.each do |account| %>
    <div>
      <h2 class="account-heading">
        Institution: <%= account.institution %>
      </h2>
    </div>
  <% end %>
  <div>
    <p><%= link_to "New Account", '/accounts/new' %></p>
  </div>
</div>
