<p>Accounts</p>
<div>
  <%= form_with model: @account, url: accounts_path, method: :post, action: "/accounts"  do |form| %>
    <h1>Add a new Account</h1>
    <%= form.text_field :institution %>
    <%= form.submit "Add Account" %>
  <% end %>
</div>